:root {
    --lightgreen: #4a954aef;
    --gray: #3c3b3b;
    --lightgray: #6c6c6c;
}

body {
    display: flex;
    flex-direction: column;
    line-height: 1;
    font-family: "Lato", Verdana, Helvetica, sans-serif;
    color: var(--gray);
    margin: 0;
}

/* Name Styles */
h1 {
    font-size: 40px;
    font-weight: 700;
    background-color: var(--lightgreen);
    padding-left: 40px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* This is the Header */
header {
    display: flex;
    padding: 1%;
    justify-content: space-between;
    align-items: center;
    background-color: var(--gray);
    color: var(--gray);
}

/* Styles for Links in the header */
nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 400px;
    list-style-type: none;
    font-size: 20px;
    font-weight: 500;
    padding-right: 50px;
    text-decoration: underline;
    text-decoration-thickness: 4px;
    text-underline-offset: 6px;
}


/* Hero Image */
/* <a href="https://www.freepik.com/free-photo/aerial-view-greenery-forest_18993751.htm#query=forest%20birds%20eye%20view&position=16&from_view=keyword&track=ais">Image by rawpixel.com</a> on Freepik */

.picture {
    display: flex;
    background-image: url(../images/Hero1.jpg);
    background-size: cover;
    height: 350px;
    position: relative;
    /* this will be for the little caption */
    justify-content: flex-end;
    margin-bottom: 1%;
}

.background-titlebox {
    position: absolute;
    bottom: 15px;
    right: 15px;
    background-color: var(--lightgreen);
    color: var(--gray);
    height: 75px;
    width: auto;
}

/* This is content for the main section */

#about-me,
#work,
#contact-me {
    display: flex;
    margin-bottom: 3%;
}

/* Styles for the h2 elements */
h2 {
    font-weight: 700;
    font-size: 24px;
    min-width: 25%;
    text-align: end;
    padding: 10px;
    padding-right: 20px;
    border-right: 2px solid var(--gray);
}

/* Paragraph from the about me section */
section p {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 1%;
    padding-bottom: 1%;
}

/* Styles for the links in the headding and the cards */
main a:link,
a:visited {
    color: var(--gray);
}

nav ul a:link,
a:visited {
    color: var(--lightgreen)
}

/* Styles and flex setup for the card section with photos and links to projects */
/* NOTE: Worked with fellow classmate Michael Cosand to help him with setting up his project. There may be some code similarities */
.library {
    display: flex;
    flex: wrap;
    flex-direction: column;
    margin: 20px;
    position: relative;
}

.feature-titlebox {
    position: absolute;
    bottom: 480px;
    left: 15px;
    background-color: var(--lightgreen);
    color: var(--gray);
    height: 75px;
    width: auto;
}

.feature-card img {
    width: 100%;
    border: 2px solid var(--gray);
    filter: grayscale(.6) blur(1px);
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
}

.card {
    width: 48%;
    position: relative;
    display: inline-block;
    margin-bottom: 20px;
}

.titlebox {
    position: absolute;
    bottom: 15px;
    left: 15px;
    background-color: var(--lightgreen);
    color: var(--gray);
    height: 75px;
    width: auto;

}

.project-name {
    font-size: 28px;
    font-weight: 550;
    line-height: 4px;
    margin-top: 30px;
    margin-bottom: 10px;
    margin-right: 15px;
    color: var(--gray);
}

.project-language {
    font-size: 16px;
    color: var(--gray);
}

.card img {
    border: 2px solid var(--gray);
    width: 100%;
    height: 200px;
    filter: grayscale(.6) blur(1px);
}

img:hover {
    filter: none;
}

/* Styles for "Contact Me" section */


.contact-links {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    color: var(--gray);
    font-size: 20px;
    text-decoration: underline;
    text-decoration-thickness: 4px;
    text-underline-offset: 6px;
}

.contact-links a {
    color: var(--gray);
    margin-right: 20px;
}

/* Mobile screen size style adjustments. */
@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
        padding-bottom: 2%;
    }

    h1 {
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        margin-block-start: 0px;
        margin-block-end: 0px;
        width: 100%;
        text-align: center;
        padding-left: 0px;
        padding-right: 0px;

    }

    nav ul {
        padding-top: 2%;
        padding-bottom: 2%;
    }

    section {
        flex-direction: column;
    }

    section h2 {
        text-align: left;
        padding-left: 20px;
        border-right: none;
        border-bottom: 2px solid var(--gray);
        margin: 10px;
    }

    section p {
        padding-bottom: 4%;
    }

    .feature-titlebox {

        top: 115px;
        left: 15px;
    }

    .feature-card img {
        height: 200px;
    }

    .card {
        width: 100%;
    }

    .project-name {
        margin-bottom: 1%;
    }

    .contact-links {
        display: flex;
        flex-direction: column;
        padding-left: 25px;
    }
}