:root {
    --lightgreen: #4a954aef;
    --gray: #3c3b3b;
    --lightgray: #6c6c6c;
}

body {
    display: flex;
    flex-direction: column;
    line-height: 1;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--gray);
    margin: 0;
}

h1 {
    font-size: 32px;
    font-weight: 550;
    background-color: var(--lightgreen);
    padding-left: 40px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--gray);
    color: var(--gray);
}

nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 400px;
    list-style-type: none;
    font-family: arial;
    font-size: 20px;
    font-weight: 500;
    padding-right: 50px;
    text-decoration: underline;
    text-decoration-thickness: 4px;
    text-underline-offset: 6px;
}

a:link,
a:visited {
    /* text-decoration: none; */
    color: var(--lightgreen);
}

/* Hero Image */
/* <a href="https://www.freepik.com/free-photo/aerial-view-greenery-forest_18993751.htm#query=forest%20birds%20eye%20view&position=16&from_view=keyword&track=ais">Image by rawpixel.com</a> on Freepik */

.picture {
    display: flex;
    background-image: url(../images/Hero1.jpg);
    background-size: cover;
    height: 350px;
    /* this will be for the little caption */
    /* justify-content: flex-end; */
}

/* This is content for the main section */

#about-me,
#work,
#contact-me {
    display: flex;
}


section h2 {
    font-family: sans-serif;
    font-weight: 400;
    min-width: 25%;
    text-align: end;
    padding: 5px;
    border-right: 2px solid var(--gray);
}

section p {
    padding-left: 10px;
    /* border-left: 2px solid var(--gray) */
}

.library {
    display: flex;
    flex: wrap;
    flex-direction: column;
    margin: 20px;
    position: relative;
}
.feature-titlebox {
    position: absolute;
    bottom: 380px;
    left: 15px;
    background-color: var(--lightgreen);
    color: var(--gray);
    height: 75px;
    width: auto;
}

.feature-card img{
width: 100%;
/* padding-left: 10px; */
border: 2px solid var(--gray);
/* margin: 10px; */
filter: grayscale(.6) blur(1px);
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
}

.card {
/* display: flex;
flex-wrap: wrap; */
width: 48%;
position: relative;
display: inline-block;
margin-bottom: 20px;
}

.titlebox {
    position: absolute;
    bottom: 15px;
    left: 15px;
    background-color: var(--lightgreen);
    color: var(--gray);
    height: 50%;
    width: auto;
    
}

.project-name {
font-size: 28px;
font-weight: 550;
line-height: 4px;
margin-top:30px;
margin-bottom: 10px;
margin-right: 15px;
}

.project-language {
font-size: 16px;
}

.card img{
/* display: block; */
border: 2px solid var(--gray);
/* margin: 10px; */
width: 100%;
height: 150px;
filter: grayscale(.6) blur(1px);
}

img:hover {
    filter: none;
}


/* Referenced code from /Users/jesse/bootcamp/ASU-VIRT-FSF-PT-10-2023-U-LOLC/02-Advanced-CSS/01-Activities/24-Stu_CSS-Selectors/Unsolved/assets/css/style.css 
  For media query and nav layout */
@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
    }

    section {
        flex-direction: column;
    }

    section h2 {
        text-align: center;
    }

    /* main {
      max-width: 1200px;
    } */
}